{% extends 'base.html' %}
{% load static %}

{% block page_title %}
  Admin
{% endblock page_title %}

{% block breadcrambs %}
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Admin Dashboard</h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">Admin Dashboard</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->
{% endblock breadcrambs %}

{% block content %}
  <section class="content">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Dashboard</h3>
      </div>
      <div class="card-body">
        <h1>Welcome to Inspection admin Dashboard</h1>
      </div>
    </div>
  </section>
{% endblock content %}